.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: -5rem;
span:nth-of-type(1){
    font-size: 2rem;
    font-weight: bold;
}
span:nth-of-type(2){
    color: rgb(245, 186, 77);
    font-size: 2.5rem;
    font-weight: bold;
}
.swiper{
    overflow: visible!important;
}
.s-slider{
    margin-top: 3rem;
    gap: 20px;
    width: calc(100px + 100vw);
}

img{
    background-color: yellow;
    width: 15rem;
    height: 10rem;
    border-radius: 19px;
    border: 1px solid green;
    position: absolute;
}
}
@media screen and (max-width:480px) {
    .second{
        position: relative;
        top: 5rem !important;
        transform: scale(0.7);
        padding: 1px 10px 10px;
        width: 100%;
    
    .s-slider{
        position: relative;
        left: -10rem;
        transform: scale(1.2);
    }
     img{
        width: 6rem;
        height: 6rem;
        border-radius: 10px;
        gap: 20px;
        position: relative;
    }
    }
}